.header__root {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: sticky;
  top: 0px;
  left: auto;
  right: 0px;
  backdrop-filter: blur(10px);
  /* 核心属性：背景模糊 */
  -webkit-backdrop-filter: blur(10px);
  /* Safari 支持 */
  color: inherit;
  box-shadow: none;
  z-index: 1000;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
}
