.sidebar__root {
  width: 300px;
  height: calc(100vh - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: transparent;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sidebar_collapsed {
  width: var(--collapsed-wh);
  height: var(--collapsed-wh);
}

/* .sidebar__header {
  height: 72px;
  border: 1px solid blue;
} */

.sidebar__content {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
